<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_Groups">
  <test thread-count="5" name="Test_Groups">
	  <groups>
		  <run>
			  <include name="sanity"></include>
			  <exclude name="regression"></exclude>
		  </run>
	  </groups>
    <classes>
      <class name="testCases.LoginPageTest"/>
      <class name="testCases.inventory_page_2_Test"/>
    </classes>
  </test> <!-- Test_Groups -->
</suite> <!-- Suite_Groups -->
